header {
  text-align: center;
}
.App-header {
    /* background-color: #F2F4F3;
    min-height: 50px; */
    /* background-color: #d5d9ed61; */
    min-height: 70px;
    padding: 5px;
    /* color: rgb(16, 33, 75); */
    margin-bottom: 20px;
  }

  .App-title {
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: 500;
    /* text-shadow: 1px 1px 0px #5b6894cb; */
    /* text-transform: uppercase; */
  } 
/*   
  .App-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 200
  }  */