header {
  text-align: center;
}
.App-header {
    background-color: #F2F4F3;
    min-height: 50px;
  }

  .App-title {
    font-family: 'Comfortaa', cursive;
    font-size: 4em;
    font-weight: 500;
    text-shadow: 2px 2px 0px #5b6894cb;
    text-transform: uppercase;
  } 
/*   
  .App-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 200
  }  */